body{
  background: #000;
}

.google{
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

.white-bgc{
  background: #fff;
  border-radius: 20px;
  padding: 15px;
}

img{
  width: 300px;
}

.txt-bold{
  font-weight: bold;
}

.txt-underline{
  text-decoration: underline;
}